---
import Base from "../layouts/Base.astro";

const matches = import.meta.glob("../pages/posts/*.md", { eager: true });
const posts = Object.values(matches);
---

<Base title="Home">
    <div class="flex flex-col gap-8">
        {posts.map(post => {
            let url = post.url;
            let title = post.frontmatter.title;
            let date = new Date(post.frontmatter.date);
            return (
                <article class="px-4 py-2">
                    <a class="text-2xl font-bold" href={url}>{title}</a>
                    <p class="text-lg">{date.getFullYear() + "/" + date.getMonth() + "/" + date.getDay()}</p>
                </article>
            )
        })}
    </div>
</Base>
